@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

.container-fluid.bg_greenblue .bi-star-fill,
.container-fluid.bg_greenblue h1,
.container-fluid.bg_greenblue h2,
.container-fluid.bg_greenblue span,
.container-fluid.bg_blue_jeans span,
.container-fluid span,
.container-fluid.bg_blue span{
    color: var(--bs-white);
}

._t_decoration_none{
    text-decoration: none;
}

.f_greenblue{
    color: #1abc9c !important;
}

.row.bg_greenblue ._hr{
    background-color: var(--bs-white);
}

.bg_blue{
    background-color: #2c3e50;
}

.bg_greenblue{
    background-color: #1abc9c;
}

.bg_blue_jeans{
    background-color: #3a546d;
}

.btn_greenblue{
    background-color: #1abc9c;
    color: #fff;
    border-color: #1abc9c;
}

.fs_7{
    font-size: 0.7rem;
}

._hr{
    height: 0.2em;
    width: 15%;
    background-color: var(--bs-dark);
    border-radius: 50px;
}